{% extends 'users/base.html' %}
{% load static %}

{% block head %}
<title>Home Page</title>
<link rel="stylesheet" href="{% static 'users/index.css' %}">
{% endblock %}
{% block body %}
<div class="home-container">
    <div class="welcome-box">
        <h1>Welcome to Django Chat Labs</h1>

        {% if user.is_authenticated %}
        <p>You are logged in. Ready to start chatting!</p>

        <div class="home-actions">
            <a href="{% url 'chat' %}">Start Chat</a>
        </div>

        {% else %}
        <p>Please login or register to continue</p>
        {% endif %}
    </div>
</div>
{% endblock %}